body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  filter: blur(1);
  background-image: url('../images/background.jpg');
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 50%;
  width: 200px;
}

a {
  text-decoration: none;
  transition: .4s;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #42AF5C;
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(10, 10, 10,1));
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 50px;
  transition: .4s;
  font-family: 'Roboto', sans-serif;
  color: #42AF5C;
  margin-top: 10px;
}

.name:hover {
  color: #77C177;
}

.network, .description {
  font-size: 30px;
}

.network {
  text-align: center;
}

.profession {
  color: #42AF5C;
}

.github:hover {
  color: #42464A;
}

.linkedin:hover {
  color: #0077B5;
}

.stackoverflow:hover {
  color: #F48138;
}

.twitter:hover {
  color: #49AAE6
}

.medium:hover {
  color: #42464A;
}

.instagram:hover {
  color: #C44C86;
}

.email:hover {
  color: #BF3A2B;
}
